/*--------------------------------------------------------
    Colors
--------------------------------------------------------*/

/*
color: #6b3f23;
color: #65cbc9;
color: #ffb359;
color: #cfde00;
color: #333333;
*/

/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

#header                                         { background: #cfde00; }
#header #menu .current                          { background: #c8ce00; }
#header #menu #classes-top #classes-dropdown    { background: #dfe627; }
#header #menu #classes-top #classes-dropdown li a{ background-color: #cdd421; }

#header #menu #classes-top:hover                { background: #dfe627; }
#header #menu li a:hover                        { background: #dfe627; }
#header #menu #classes-top #classes-dropdown li a:hover{ background-color: #cfde00; }